<div class="editor-row">
	<div class="section gf-form-group">
		<h5 class="section-heading">Y-Axis</h5>
		<div class="gf-form">
			<span class="gf-form-label width-8">Label</span>
            <input type="text" class="gf-form-input max-width-10" ng-model="ctrl.panel.yAxisLabel" ng-change="ctrl.render()">
        </div>
    </div>
	<div class="section gf-form-group">
		<h5 class="section-heading">X-Axis</h5>
		<div class="gf-form">
			<span class="gf-form-label width-8">Label</span>
            <input type="text" class="gf-form-input max-width-10" ng-model="ctrl.panel.xAxisLabel" ng-change="ctrl.render()">
        </div>
    </div>
</div>
