<div class="graph-wrapper">
  <div class="graph-canvas-wrapper">
    <div class="matrix-panel" style="postion: relative; padding: 0;">
      <table class="table-panel-table">
        <tr>
          <td colspan="99" align="center"><h2>Destinations</h2></td>
        </tr>
        <tr>
          <td rowspan="99"><h2 style="transform: rotate(-90deg); float: left;">Sources</h2></td>
          <td></td>
          <td ng-repeat="dst in ctrl.matrix.dsts">{{ dst }}</td>
        </tr>
        <tr ng-repeat="(src, dsts) in ctrl.matrix.data">
          <td>{{ src }}</td>
          <td ng-repeat="dst in dsts" id="{{src}}-{{dst}}" style="background-color: {{dst.color}};">
            {{ dst.value }}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="clearfix"></div>
